@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");

html, body {
  font-family: "Montserrat", sans-serif;
}
:root{
  --gold-legacy:#ffc72c;
  --gold-relentless:#beaf87;
  --gold-dark:#a19276;

  --white:#ffffff;
  --grey-light:#e6e7e8;
  --grey-med:#808285;
  --grey-obsessed:#252526;

  --black:#000000;
  --black-digital:#121212;

  --container: 1180px;
}